# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
eggs/
parts/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
.tox/
*.cover
coverage.xml
htmlcov/
.pytest_cache/

# Pyre type checker
.pyre/

# VS Code
.vscode/
.env